extends layout

block content
  if (user)
    h1= title
    #filter
      if (type === "full")
        a.active(href='#', data-filter-country="country") All
        each country, name in whiskies
          a(href='#', data-filter-country="#{name}") #{name} (#{country.length})
      else if (type === "trylist")
        a.active(href="#", data-filter-review="all") All
        a(href="#", data-filter-review="lit") Reviewed
        a(href="#", data-filter-review="unlit") Not Reviewed
    each country, name in whiskies
      if country.length
        section(class="country #{name}") 
          h4 #{name}
          each whisky in country
            .whisky(id=whisky.id, data-price=whisky.price, data-table=whisky.table)
              .name #{whisky.name}
              .controls
                - var hasReview = !!reviews[whisky.id];
                - var onTryList = (trylist.indexOf("" + whisky.id) > -1);
                a
                  i.fa.fa-star.edit(data-id=whisky.id, class=hasReview?"lit":"")
                a
                  if (type === "trylist")
                    i.fa.fa-times.remove(data-id=whisky.id)
                  else
                    i.fa.fa-plus.add(data-id=whisky.id, class=onTryList?"lit":"")
  else 
    h1 Rate Whisky
    p Use this simple mobile site to save review notes and keep track of whiskies to try at #[a(href="http://www.mynslc.com/Content_MarketingPages/Content_Events/CelebrateWhisky.aspx") Celebrate Whisky 2014].
    p#help
      a#getStarted(href="#")
        i.fa.fa-long-arrow-up
        | Log in with Google to get started and see the whisky list
    h4 Disclaimer
    p This personal project is not affiliated with the #[a(href="http://www.mynslc.com/") NSLC]. It uses the list of whiskies available on their site.
    h4 User data
    p This site uses Google OpenId. The only piece of user information stored is your email address, which is attached to your reviews and lists. All reviews and lists are private.
    h4 Source
    p The source code for this project is available on #[a(href="https://github.com/bitswamp/ratewhisky") GitHub]. 
