extends layout

block content
  if (user)
    h1= title
    #filter
      a.active(href='#', data-filter-class="country") All
      each country, name in whiskies
        a(href='#', data-filter-class="#{name}") #{name} (#{country.length})
    each country, name in whiskies
      section(class="country #{name}") 
        h4 #{name}
        each whisky in country
          .whisky(id="#{whisky.id}")
            .name #{whisky.name}
            .controls
              - var lit;
              a
                - lit = !!reviews[whisky.id] 
                i.fa.fa-star.edit(data-id=whisky.id, class=lit?"lit":"")
              a
                - lit = (trylist.indexOf("" + whisky.id) > -1)
                i.fa.fa-plus.add(data-id=whisky.id, class=lit?"lit":"")
  else 
    h1 Rate Whisky
    #help
      i.fa.fa-long-arrow-up
      | Log in with Google
